@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


.row{
	margin:0px;
}

header{
	background-color: #00687c;
}

header img{
	max-width: 270px;
  width: 80%;
}

body{
	font-family:'Chivo';
	margin: 0px;
	color: #00687c; 
}

#titulo{
	background: url(../images/home.png);
	background-size: cover;
  border-radius: 0 32% 32%;
}

#titulo > section > section > div:nth-child(1) > img{
	width: 38%;
	margin-top: 2em;
}

#titulo > section > section > div:nth-child(2) > img {
    width: 77%;
    margin-bottom: -5em;
    margin-top: -5em;
}

 /** BOTON DE PLAY */

#titulo > section > section > a:nth-child(3) > center > img{
    height: 58px;
    position: absolute;
    margin-left: -2em;
    margin-top: 1em;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    -webkit-animation: pulse 1.5s infinite;
}
#titulo > section > section > a:nth-child(3) > center > img:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
 /** BOTON DE PLAY */

#titulo > section > section > div:nth-child(5) >  img{
  width: 34%;
  margin-top: 3em;
}


/**VIDEO ESTUDIA SIN PAUSA | LIGHTBOX MARKUP **/


.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}
.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}

#video-container {
position: relative;
padding-bottom: 56.25%; /* Para que el contenedor tenga relación de aspecto 16/9 */
padding-top: 30px;
height: 0;
overflow: hidden;
}
/** videoModal **/
.modal-body {
  border-radius: 0;  
  margin:auto;
}


#videoModal .modal-body  {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
  #videoModal .modal-header {
    background: #000;
    border: 0;
    color: #fff;
    position: relative;
      height:35px; }
    #videoModal .modal-header h3 {
      font-size: 18px;
      line-height: 22px;
    font-family:Arial, Helvetica, sans-serif;
    padding:5px;}
  #videoModal .modal-body {
    margin-top: 3em;
    height: 489px;
    max-height: none;
    overflow: hidden; }
  #videoModal .modal-footer:empty {
    display: none /**!important;**/ }
  #videoModal .close {
    background: #DB00B8;
    color: #fff;
    font-size: 24px;
    margin: 0;
    opacity: 1;
    position: absolute;
    right: 0;
    text-shadow: none;
    top: 0;
    width: 38px; }
/*uwgduqwy*/


.button{
  background-color: #00687c;
  position: absolute;
  width: 62%;
  padding: .3em;
  margin: -2em 3.5em;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  }

.button:hover {
  background-color: #84c225;
      box-shadow: 0px 15px 20px rgba(132, 194, 37, 0.73);
  color: #fff;
  transform: translateY(-7px);
}
#titulo > section > section > section > div > a > p{
	margin-top: 0.6em;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #fff;
}
#titulo > section > section >  section > div.button > a{
      color: #00687c;
}

#titulo > section > section > section > div.button:hover > a{
  color: #84c225;
}

#introduccion > div > h2{
  padding-top: 2em;
	font-size: 44px;
}

#introduccion > div > p{
	font-size: 21px;
  font-family: 'Fira Sans', sans-serif;
}

#carreras33{
  background:#00a7bc;
  height: 47em;
  border-radius: 5px 195px;
  margin-top: 78px;
  font-family:'Fira Sans', sans-serif;
  color: #d4f2e4;

}

#carreras33 h2{
  color: #d4f2e4;
  font-size: 40px;
}

#carreras33 > section > p{
    font-size: 23px;
    margin-top: -1em;
    font-weight: 200;
    font-style: italic;
}
#carreras33 > div{
      margin-top: -6em;
}

.letras{
  font-size:22px;
  font-weight: 200;
   margin-left: 1em;
}

#beneficios > div.container{
  margin:1em;
}

#beneficios h2{
    text-align: left;
    font-size: 31px;
    margin-top: 4em;
    font-weight: 100;
    color: #00a7bc;
}

#beneficios strong{
  color: #84c225;
  font-weight: 600;
}

#cuadroo > div > img{
  width: 87%;
  margin-top: 1em;
}

#cuadroo > h3{
    color: #00a7bc;
    font-size: 21px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    margin-top: 0em;
}
#cuadroo > p{
  font-size: 15px;
  font-family: 'Fira Sans', sans-serif;
  margin-top: .5em;
}

#cuadroo{
    background: linear-gradient(-50deg, #7acddc -9%, #fff 54%);
    border-radius: 24%;
    margin-bottom: 3em;
     margin-left: 3em;
    width: 17em;
    border-bottom-color: #7ACDD9;
    box-shadow: -9px 17px 147px -15px rgba(122,205,220,0.75),
    6px -6px 8px -4px rgba(121,205,219,0.75),
    6px 6px 8px -4px rgba(120,203,220,3.75),
    6px 6px 8px -4px rgba(0,0,05,2.75);
  }



#trabajo {
    background: url(../images/fotolandingfooter.jpg);
    background-size: cover;
    margin-left: -7em;
}
#trabajo h2{
    margin-top: -1em;
    text-align: end;
    font-size: 54px;
}
.container {
  max-width: 800px;
  display: block;
  margin: 0 auto;
}
#diagonal {
  color: #fff;
  margin-top: 100px;
  padding: 50px 0;
  position: relative;
  background: #84c225;
  margin-top: 0;
}
#diagonal:before {
  position: absolute;
  margin-top: -130px;
  content: '';
  border-style: solid;
  border-width: 0 0 5rem 100vw;
  border-color: transparent #84c225 #84c225 transparent;
 }



/*LO QUE OFRECEN LOS PROGRAMAS COLOR VERDE*/
 #diagonal h2{
    font-size: 29px;
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
    margin: .5em;
 }

 #diagonal > div > div:nth-child(1) > h3{
    font-size: 20px;
    font-family:'Fira Sans', sans-serif;
    font-weight: 200;
    margin: .5em;
    margin-bottom: 1.5em;
 }

 #diagonal > div > div:nth-child(2) > h3{
    font-size: 20px;
    font-family:'Fira Sans', sans-serif;
    font-weight: 200;
    margin: .5em;
    margin-top: 2em;
    margin-bottom: 2.5em;
 }
 #diagonal > div > div:nth-child(2) > h3 > strong{
    font-style: italic;
    font-weight: 400;
 }



 #diagonal > div > div:nth-child(3) > h3{
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    margin: .5em;
    margin-bottom: 2.5em;
 }

  #diagonal > div > div:nth-child(3) > h3 > strong{
    font-style: italic;
    font-weight: 400;
 }



 #diagonal > div > div:nth-child(4) > h3{
    font-size: 20px;
    font-family:'Fira Sans', sans-serif;
    font-weight: 200;
    margin: .5em;
    margin-bottom: 2.5em;
 }

  #diagonal > div > div:nth-child(4) > h3 > strong{
    font-style: italic;
    font-weight: 400;
 }



 #diagonal > div > div:nth-child(5) > h3{
    font-size: 20px;
    font-family:'Fira Sans', sans-serif;
    font-weight: 200;
    margin: .5em;
    margin-bottom: 2.5em;
 }

  #diagonal > div > div:nth-child(5) > h3 > strong{
    font-style: italic;
    font-weight: 400;
 }



 #diagonal > div > div:nth-child(6) > h3{
    font-size: 20px;
    font-family:'Fira Sans', sans-serif;
    font-weight: 200;
    margin: .5em;
    margin-bottom: 2.5em;
 }

  #diagonal > div > div:nth-child(6) > h3 > strong{
    font-style: italic;
    font-weight: 400;
 }



 #diagonal > div > div:nth-child(7) > h3{
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 200;
    margin: .5em;
    margin-bottom: 2.5em;
 }

  #diagonal > div > div:nth-child(7) > h3 > strong{
    font-style: italic;
    font-weight: 400;
 }




 #diagonal > div > div:nth-child(8) > h3{
    font-size: 20px;
    font-family:'Fira Sans', sans-serif;
    font-weight: 200;
    margin: .5em;
    margin-bottom: .5em;
 }

  #diagonal > div > div:nth-child(8) > h3 > strong{
    font-style: italic;
    font-weight: 400;
 }

/*LO QUE OFRECEN LOS PROGRAMAS COLOR VERDE*/


 #final{
    text-align: center;
    color: #00a7bc;
    font-size: 19px;
 }

 #final p{
  color: #00687c;
  margin: 1em;
  font-weight: 300;
  font-style: italic;
 }

 #final > section > div > div > div > p{
    color: #fff;
    font-style: normal;
    font-weight: 400;
    margin: 0.7em;
 }

 #final > section > div > div > div{
    padding-bottom: 0em;
    margin-bottom: -2em !important;
    padding: .3em;
    margin: 4em;
    height: 45px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #fff;
    background-color: #00687c;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
 }

 #final > section > div > div > div:hover {
  background-color: #84c225;
      box-shadow: 0px 15px 20px rgba(132, 194, 37, 0.73);
  color: #fff;
  transform: translateY(-7px);
}

 body > div > div.col-xs-12 > img{
    height: 15em;
    margin-bottom: 0em;
    margin-top: 3em;
 }

 body > div.row.center-xs > div.col-xs-12 > a > img{
  height: 15em;
    margin-bottom: 0em;
    margin-top: 3em;
 }

 body > div > div:nth-child(2) > a > img{
  width: 60%;
 }

 body > div > div:nth-child(3) > a > img{
  width: 60%;
 }

 body > div > div:nth-child(4) > a > img{
  width: 60%;
 }
body > footer{
    background: #00687c;
    margin-top: 6em
}
footer img{
  width: 83%;
  margin-bottom: -1em;
  margin-top: 1em;
}

footer p{
    color: white;
    font-weight: 100;
}

#trabajo{
   padding: 6em 0em;
}

.form-items {
  position: relative;
  margin-left: 1em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.form-items label {
  position: absolute;
  bottom: 1em;
  left: 1em;
  pointer-events: none;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.form-input {
  box-sizing: border-box;
  display: block;
  outline: none;
  -webkit-appearance: none;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding-left: 1em;
  padding-right: 1em;
  height: 55px;
}

.form-input:focus + label,
.form-input:valid + label {
  -webkit-transform: translate3d(-1em, -3em, 0);
  transform: translate3d(-1em, -3em, 0);
}

.form-select::after {
  content: ;
  position: absolute;
  right: 15px;
  top: calc(50% - 9px);
  transform: translateY(-50%);
}


.form--theme .form-input {
  background-color: lightblue;
}

.form--theme .form-button {
    padding-bottom: 0em;
    margin-bottom: -2em !important;
    padding: 0em 4em;
    margin: 1.5em;
    height: 45px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #fff;
    background-color: #00687c;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer
}

.form--theme .form-button:hover {
  background-color: #84c225;
      box-shadow: 0px 15px 20px rgba(132, 194, 37, 0.73);
  color: #fff;
  transform: translateY(-7px);
}



@media only screen and (min-width:768px){

  #titulo > section > section > div:nth-child(1) > img {
    width: 20%;
    margin-top: 4em;
   } 

  #titulo > section > section > div:nth-child(2) > img {
    width: 49%;
    margin-top: -3em;
   } 

  #titulo > section > section > div:nth-child(3) > img {
    width: 40%;
    margin-top: 6em;
}
 
 #titulo > section > section > div:nth-child(5) > img {
    width: 37%;
    margin-top: 0em;
    margin-left: 2em;
    margin-bottom: -2em;
}

#titulo > section > section > a:nth-child(3) > center > img {
    height: 73px;
}


  .button{
    margin: -2em 15em;
    width: 16em;
  }

  #carreras33 {
    background: #00a7bc;
    height: 38em;
}


  #carreras33 > section{
    text-align: center;
    margin-top: 3em;
  }


  #beneficios h2{
    margin: 2em;
  }

  .letras {
    text-align: initial;
    font-size: 25px;
    font-weight: 100;
   } 

  #cuadroo {
    width: 61px;
    margin-left: 6em;
}

  #cuadroo > div > img {
    width: 73%;
  }

  #trabajo {
    padding: 15em 0em;
  }

  #trabajo h2 {
    margin-top: -3em;
    font-size: 49px;
   } 

   body > div > div:nth-child(2) > a > img {
    width: 27%;
    margin: 1em;
  }
  body > div > div:nth-child(3) > a > img {
    width: 27%;
    margin: 1em;
  }

  body > div > div:nth-child(4) > a > img {
    width: 27%;
    margin: 1em;
  }

  footer img {
    width: 48%
  }
}




@media only screen and (min-width:1280px){

  #titulo {
    border-radius: 0 0 59% 59%
 } 
 #titulo > section > section > div:nth-child(1) > img {
    width: 15%;
  }
  #titulo > section > section > div:nth-child(2) > img {
    width: 35%;
     margin-top: -6em;
  }

 #titulo > section > section > a:nth-child(3) > center > img {
    height: 58px;
    position: absolute;
    margin-left: -2em;
    margin-top: -3em;
  }

#titulo > section > section > div:nth-child(5) > img {
    width: 20%;
    margin-top: -3em;
    margin-bottom: -2em;
}
   /** width: 28%;
    margin-top: 0em;
    margin-bottom: -2em*/


  .button {
    margin: -2em 25em;
    width: 19em;
  }

#introduccion > div > p {
    font-size: 30px;
    margin: 2em
  }

#carreras33 {
    height: 49em;
}
  #carreras33 h2 {
    font-size: 42px;
  }

  #carreras33 > section > p {
    font-size: 30px;
  }

.letras {
    font-size: 29px;
  }
#cuadroo {
    width: 70px;
}
#trabajo {
    padding: 18em 0em;
  }

  #final {
    margin: 6em;
  }

  footer img {
    width: 41%;
}
  .form-input {
    padding-left: 5em;
  }

}


@media only screen and (min-width:1440px){

  #titulo > section > section > div:nth-child(1) > img {
    width: 12%;
   }

   #titulo > section > section > div:nth-child(2) > img {
    width: 25%;
  }

  #titulo > section > section > div:nth-child(3) > img {
    width: 25%;
    margin-top: 10em;
  }

  #titulo > section > section > div:nth-child(5) > img {
        width: 22%;
    }

  .button {
    margin: -2em 33em;
     width: 22em;
  }

  #introduccion > div > h2 {
      padding-top: 2em;
      font-size: 50px;
  }

  #introduccion > div > p {
      font-size: 30px;
      margin: 2em 8em;
   }
   
   #cuadroo {
      margin-left: 6em;
  }

  #trabajo {
      padding: 26em 0em;
  }

  #trabajo h2 {
      margin-top: -2em;
      font-size: 56px;
      margin-right: 2em;
   }  

    #beneficios{
          margin: 0px;
          padding: 6em;
    }

   #diagonal {
      margin-top: -5px;
    }

  .form-items {
      margin-left: 0em;
      margin-bottom: -0.75em;
  }
  #final > section > div > div > h2{
    font-size: 45px;
  }
     
  #final p {
      font-size: 27px;
  }
  .form-input {
      width: 111%;
  }
  .form-select::after {
      right: -9px;
  }

  #final > section > div > div > h2{
        font-size: 40px;
  }

  body > div > div.col-xs-12 > img {
      height: 9em;
      margin-bottom: 0em;
      margin-top: 0em;
  }

body > div > div:nth-child(2) > a > img {
    width: 16%;
}

body > div > div:nth-child(3) > a > img {
    width: 16%;
}

body > div > div:nth-child(4) > a > img {
    width: 16%;
}
footer img {
    width: 28%;
}
}


@media only screen and (min-width:1920px){

#titulo > section > section > div:nth-child(1) > img{
    width: 10%;
}

  #titulo > section > section > div:nth-child(2) > img {
    width: 30%;
    margin-top: -7em;
  }

  #titulo > section > section > a:nth-child(3) > center > img {
    height: 83px;
    margin-top: -2em;
}

#titulo > section > section > div:nth-child(5) > img {
    width: 16%;
   margin-top: -2em;
}

.button {
    margin: -2em 41em;
}
.letras {
    margin-left: 6em;
}

form-input {
    width: 124%;
}  

body > div > div:nth-child(2) > a > img {
    width: 14%;
  }

body > div > div:nth-child(3) > a > img {
    width: 14%;

}

body > div > div:nth-child(4) > a > img {
    width: 14%;

}

}

